.header {
    height: 80px;
    background-color: var(--color-primary);
    color: var(--color-text-white);
}

.header h1 {
    float: center;
    color: white;
    margin-top: 10px;
    padding: 10px 10px;
}

@media screen and (max-width: 300px) {
    .header img {
        float: none;
        display: block;
    }

    .header-left {
        float: left;
        padding: 10px 10px;
    }
}
